body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('/red-movie-theater-seats-with-curtains-background_1017-38388.avif');
  background-size: cover;
  color: white;
}

.header {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.show-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.room-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.movie-card {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.9);
}

.modal{
  color: black;
}